<h1> Student Info </h1>

<<<<<<< HEAD
<% render partial: "student", locals: {student: @student} %>
=======
<%= render partial: 'student', locals: {classroom_student: @student} %>
>>>>>>> c872168f64c76105efa72f3b08c28a8c5eba7212
